name: Publish images

on:
  push:
    branches:
      - main
    paths:
      - "*.dockerfile"
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        openssl:
          - openssl-1.1.1
          - openssl-3.0
          - openssl-3.2
          - openssl-3.3
          - openssl-3.4
          - openssl-3.5
          - openssl-3.6
          - boringssl
          - libressl-3.9
          - libressl-4.0
          - libressl-4.1
          - libressl-4.2
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Log in to the Container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          file: ${{ matrix.openssl }}.dockerfile
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}/${{ matrix.openssl }}:latest
          labels: ${{ steps.meta.outputs.labels }}
